.box{

    padding: 40px;

    text-align: center;

    margin: auto;

    margin-top: 5%;

    

}



.img{

    padding: 20px;

    margin: auto;

    margin-top: 1%;  

}

.text{

    margin-left: 25%;

    text-align:left;
    

    

}
